/* :root {
  font-size: 100%;

  --bg-color: #121214;
  --bg-primary-card: #29292E;
  --bg-primary-card-hover: rgba(2, 120, 156, 0.301);
  --bg-second-card: #02799D;
  
  --base-color: 195;
  --bg-primary-light: hsla(var(--base-color), 74%, 15%, 1);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  
  --text-color: #FFFFFF;
  --icon-color-card: #C4C4CC;
  --icon-color-selected: rgb(107, 15, 26);
  
  --icon-mode-view-color: #FFFFFF;
  
}

.light {
  --bg-color: #FFFFFF;
  --bg-primary-card: #E1E1E6;
  --bg-primary-card-hover: rgba(2, 120, 156, 0.301);
  --bg-second-card: #02799D;

  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);

  --text-color: #323238;
  --icon-color-card: #323238;
  --icon-color-card-selected: rgb(107, 15, 26);

  --icon-mode-view-color: #000000;

} */


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  
  /* background: var(--bg-color);
  color: var(--text-color); */

  min-height: 100vh;
}


.content {
  display: grid;
  place-items: center;
}


/* aligns toggle button to upper right corner */
.mode {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle {
  width: 60px;
  height: 30px;
  background-color: #333;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}

.toggle.dark {
  background-color: #bbb;
}

.toggle.dark::before {
  transform: translateX(30px);
}


.hide {
  display: none;
}

#timer {
  font-size: 8rem;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#controls {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


#controls button:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  color: var(--icon-color-card-selected);
}



