body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  
  /* background: var(--bg-color);
  color: var(--text-color); */

  min-height: 100vh;
}


.content {
  display: grid;
  place-items: center;
}


/* aligns toggle button to upper right corner */
.mode {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle {
  width: 60px;
  height: 30px;
  background-color: #333;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}

.toggle.dark {
  background-color: #bbb;
}

.toggle.dark::before {
  transform: translateX(30px);
}


.hide {
  display: none;
}

#timer {
  font-size: 8rem;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#controls {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


#controls button:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  color: var(--icon-color-card-selected);
}

#task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border: 2px solid #ccc; /* border around task list */
  border-radius: 10px;
  padding: 20px; 
  background-color: #f9f9f9; 
}

#task-list h2 {
  padding: 10px;
  font-size: 1.9rem;
}

#task-list input {
  font-size: 1.1rem;
  width: 120px;
  align-items: center;
}

#task-list button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9; 
}

#task-list input {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}

#task-list button:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
  color: var(--icon-color-card-selected);
}

#todo-list {
  padding: 20px; 
  text-align: left; 
  width: fit-content; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 20px;
}
